
<div class="container mt-3 ml-2">
    <table class="table table-bordered table-hover">
        <thead class="one">
            <tr>
                <th>S.No</th>
                <th>Show Id</th>
                <th>Show Name</th>
                <th>ShowStartTime</th>
                <th>ShowEndTime</th>
                <th>TheaterId</th>
                <th>Screen Id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let show of shows ;index as i'>
                <td>{{i+1}}</td>
                <td>{{show.showId}}</td>
                <td>{{show.showName}}</td>
                <td>{{show.showStartTime}}</td>
                <td>{{show.showEndTime}}</td>
                <td>{{show.theaterId}}</td>
                <td>{{show.screenId}}</td>
            </tr>
        </tbody>
    </table>
</div>

