<div class="container mt-3 ml-2">
    <table class="table table-bordered table-hover">
        <thead class="one">
            <tr>
                <th>S.No</th>
                <th>Theater Id</th>
                <th>Theater Name</th>
                <th>Theater City</th>
                <th>Manager Name</th>
                <th>ManagerContact</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let theater of theaters ;index as i'>
                <td>{{i+1}}</td>
                <td>{{theater.theaterId}}</td>
                <td>{{theater.theaterName}}</td>
                <td>{{theater.theaterCity}}</td>
                <td>{{theater.managerName}}</td>
                <td>{{theater.managerContact}}</td>
                <td> <button class="btn btn-outline-success" (click)='selectTheater(theater)'>
                        update
                    </button></td>
                <td> <button class="btn btn-outline-danger" (click)='deletetheater(theater)'>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>