footer{
    padding:25px 0;
      text-align:center;
  }
  footer span.copyright{
    font-size:90%;
    line-height:40px;
    text-transform:none;
    font-family: 'Courgette', cursive;
  }
  footer ul.quicklinks{
    font-size:90%;
    line-height:40px;
    margin-bottom:0;
    text-transform:none;
    font-family: 'Courgette', cursive;
  }
  ul.social-buttons{
    margin-bottom:0
  }
  ul.social-buttons li a{
    font-size:20px;
    line-height:50px;
    display:block;
    width:50px;
    height:50px;
    -webkit-transition:all .3s;
    transition:all .3s;
    color:#fff;
    border-radius:100%;
    outline:0;
    background-color:#212529
  }
  ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{
    background-color:#fed136
  }